$desktop: 840px;

@mixin desktop{
    @media (max-width: #{$desktop}){
        @content;
    }
}


.slidingContainer{
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    .nav-links{
        padding: 0.5rem 0.5rem 0.5rem 2rem;
        text-decoration: none;
        font-size: 1.5rem;
        color: rgba(255,255,255,1);
        display: block;
        transition: 0.3s;

        &:hover{
            color: rgb(99, 99, 99);
        }

        @include desktop{
            font-size: 1.3rem;
        }
    }

    .closeBtn{
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: rgb(255, 255, 255) ;
        cursor: pointer;

        i{
            font-size: 2rem;
        }
    }

    
}

.active{
    width: 30%;

    @include desktop{
        width: 50%;
    }
}

.openBtn{
    transition: margin-left .5s;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255) ;
    position: absolute;
    z-index: 9999;
    cursor: pointer;
    
    i{
        font-size: 1.5rem;
    }
}

.activeOpen{
    display: none;
}