.event-page-bg {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(230, 230, 230);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    .button-space{
        margin-top: 5rem;
        display: flex;
        justify-content: center;
    }

    .instuctions{
        margin: 4rem;
        margin-bottom: 0;
        border-bottom: 2px black solid ;
    }

    .registration-grid{
        width: 100%;
        display: flex;
        justify-content: center;      

        .register-name{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 4rem;
            border-right: 2px black solid ;

            p{
                font-size: 30px;
                margin-bottom: 0.5rem;
            }

            input[name="register"] {
                padding: 4px;
              }
        }

        .register-display{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 4rem;

            ul{
                list-style-type: none;

                li{
                    font-size: 1.5rem;
                }
            }
        }
    }
} 