$colors: (
    primary: #005DFF,
    black: #000000,
    white: #ffffff
);

@function color($color-name){
    @return map-get($colors, $color-name)
}

.btn{
    padding: 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 1rem;
}
